{% extends "index.html" %}

{% block title %}
<title>{{ taxonomy.name }} - {{ config.title }}</title>
<meta property="og:title" content="{{ taxonomy.name }}">
<meta property="og:site_name" content="{{ config.title }}">
{% endblock title %}

{% block content %}
<h4 class="title is-4"><a href="{{ current_url }}">Tags</a></h4>
<div class="tags">
  {% for term in terms %}
  <a href="{{ term.permalink }}" class="tag is-link">{{ term.slug }}</a>
  {% endfor %}
</div>
{% endblock content %}