{% extends "index.html" %}

{% block title %}
<title>Tagged "{{ term.slug }}" - {{ config.title }}</title>
<meta property="og:title" content='Tagged "{{ term.slug }}"'>
<meta property="og:site_name" content="{{ config.title }}">
{% endblock title %}

{% block content %}
<h4 class="title is-4">Tagged "<a href="{{ term.permalink }}">{{ term.slug }}</a>"</h4>
{% for article in term.pages | reverse %}
<div class="notification is-dark">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h5 class="title is-5">
          <a href="{{ article.permalink }}">
            {{ article.title }}
          </a>
        </h5>
      </div>

      <div class="level-item">
        <div class="tags">
          <span class="tag is-info">{{ article.date | date(format="%Y-%m-%d") }}</span>
          {% for tag in article.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="tag is-link">{{ tag }}</a>
          {% endfor %}
        </div>
      </div> {# level-item #}
    </div> {# level-left #}
  </nav> {# level #}
  {% if article.description %}
  <div class="content">{{ article.description }}</div>
  {% endif %}
</div>
{% endfor %}
{% endblock content %}