<!DOCTYPE html>
<html lang="en" style="overflow: auto">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% block title %}
  <title>{{ config.title }}</title>
  <meta property="og:title" content="{{ config.title }}">
  <meta property="og:site_name" content="{{ config.title }}">
  {% endblock title %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ get_url(path="css/bulma.min.css", trailing_slash=false) }}">

  {% if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endif %}

  <meta name="robots" content="index,follow">
  {% if config.extra.karp_logo %}
  <meta property="og:image" content="{{ get_url(path=config.extra.karp_logo, trailing_slash=false) }}">
  {% endif %}

  {% block extra_head %}
  {% if config.description %}
  <meta name="description" content="{{ config.description }}">
  <meta property="og:description" content="{{ config.description }}">
  {% endif %}
  <meta property="og:url" content="{{ config.base_url }}">
  {% endblock extra_head %}
</head>

<body>
  <div class="columns is-gapless" style="height: 100vh">
    <div class="column is-one-fifth has-background-black-ter Has-text-white-ter">
      {% block sidebar %}
      <section class="hero is-dark">
        <div class="hero-body has-text-centered">
          {% if config.extra.karp_logo %}
          <div class="is-flex" style="justify-content: center; margin-bottom: 10px">
            <a href="{{ config.base_url }}">
              <figure class="image is-128x128">
                <img src="{{ get_url(path=config.extra.karp_logo, trailing_slash=false) }}" />
              </figure>
            </a>
          </div>
          {% endif %}
          {% if config.extra.karp_showtitle %}
          <a href="{{ config.base_url }}">
            <h4 class="title is-4">{{ config.title }}</h4>
          </a>
          {% endif %}
          {% if config.description %}
          <h6 class="subtitle is-6">{{ config.description }}</h6>
          {% endif %}
        </div>
      </section>
      <section class="section">
        <div class="buttons">
          {% block sidebar_nav %}
          <a class="button is-fullwidth is-dark" href="{{ config.base_url }}">Home</a>
          {% set pages = get_section(path="pages/_index.md") %}
          {% for page in pages.pages %}
          {% if page.extra.visible %}
          <a class="button is-fullwidth {{page.extra.color}}" href="{{page.permalink}}">{{page.title}}</a>
          {% endif %}
          {% endfor %}
          {% if config.extra.karp_links_separate %}
        </div>
        <div class="buttons">
          {% endif %}
          {% for link in config.extra.karp_links %}
          <a class="button is-fullwidth {{link.color}}" href="{{link.url}}">{{link.name}}</a>
          {% endfor %}
          {% endblock sidebar_nav %}
        </div>
      </section>
      {% if config.extra.karp_sidebar_end %}
      <div class="content has-text-centered has-text-white-ter">
        {{ config.extra.karp_sidebar_end | safe }}
      </div>
      {% endif %}
      {% endblock sidebar %}
    </div>

    <div class="column has-background-light" style="overflow-y: auto; overflow-x: hidden">
      <section class="section">
        {% block content %}
        {% set articles = get_section(path="articles/_index.md") %}
        {% for article in articles.pages %}
        <div class="notification is-dark">
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <h5 class="title is-5">
                  <a href="{{ article.permalink }}">
                    {{ article.title }}
                  </a>
                </h5>
              </div>

              <div class="level-item">
                <div class="tags">
                  <span class="tag is-info">{{ article.date | date(format="%Y-%m-%d") }}</span>
                  {% for tag in article.taxonomies.tags %}
                  <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="tag is-link">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div> {# level-item #}
            </div> {# level-left #}
          </nav> {# level #}
          {% if article.description %}
          <div class="content">{{ article.description }}</div>
          {% endif %}
        </div>
        {% endfor %}
        {% endblock content %}
      </section>
    </div>

</body>

</html>