{% extends "index.html" %}

{% block title %}
<title>{{ page.title }} - {{ config.title }}</title>
<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{{ config.title }}">
{% endblock title %}

{% block extra_head %}
{# Handle the description meta tag #}
{% if page.description %}
<meta name="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}">
{% elif config.description %}
<meta name="description" content="{{ config.description }}">
<meta property="og:description" content="{{ config.description }}">
{% endif %}

{# Handle the keywords meta tag #}
{% if page.taxonomies.tags %}
<meta name="keywords" content="{{ page.taxonomies.tags | join(sep=",") }}">
{% endif %}

{# Other meta tags #}
<meta property="og:url" content="{{ page.permalink }}">
{% endblock %}

{% block content %}
<div>
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h4 class="title is-4">{{ page.title }}</h4>
      </div>
      <div class="level-item">
        <div class="tags">
          {% if not page.extra.hide_date %}
          <span class="tag is-info">{{ page.date | date(format="%Y-%m-%d") }}</span>
          {% endif %}
          {% if page.taxonomies.tags %}
          {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="tag is-link">{{ tag }}</a>
          {% endfor %}
          {% endif %}
        </div>
      </div> {# level-item #}
    </div> {# level-left #}
  </nav> {# level #}
  <div class="content">
    {{ page.content | safe }}
  </div>
</div>
{% endblock content %}